* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root,
.app {
  height: 100%;
  background: #f9fafb;
}

.chat {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

.chat-list {
  flex: 1;
  padding: 0 10px;
  overflow: auto;
}

.chat-input {
  display: flex;
  textarea {
    padding: 10px;
  }
}

.val-input {
  margin-right: 8px;
}

.send-btn {
  align-self: end;
}

.chat-msg {
  display: flex;
  padding: 8px 12px;
  font-size: 14px;
  .content {
    display: flex;
    width: 100%;
    img {
      width: 35px;
      height: 35px;
      border-radius: 3px;
    }
    &.question {
      justify-content: end;
      img {
        margin-left: 8px;
      }
    }
    &.answer {
      img {
        margin-right: 8px;
      }
      .msg {
        background: #e7f1fc;
      }
    }

    .msg {
      padding: 10px;
      border-radius: 7px;
      max-width: calc(100% - 87px);
      white-space: pre-wrap;
      word-wrap: break-word;
      color: #16191d;
      /* background: #f9fafb; */
      background: #eee;
      line-height: 16px;
    }
  }
}
