* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.chat {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.chat-input {
  display: flex;
}

.val-input {
  margin-right: 8px;
}

.send-btn {
  align-self: end;
}
